{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    {% if object %}
      <h1>Edit {{ object.title }}</h1>
    {% else %}
      <h1 class="text-center my-5" style="font-family: Lumanosimo, cursive;" >Add Pastry Recipe</h1>
    {% endif %}

    <form action="" method="POST" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="container">
        {% for field in form %}
          <div class="form-group row">
            <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label text-center" style="font-family: Lumanosimo, cursive;" >{{ field.label_tag }}</label>
            <div class="col-sm-9">
              {{ field }}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-dark">Submit</button>
        <a class="btn btn-outline-dark ml-2" href="{% url 'detail' object.id %}">Cancel</a>
      </div>
    </form>
  {% else %}
    <br>
    Login to add or edit a recipe! or create an account if you don't have one.
  {% endif %}
{% endblock %}
