{% extends 'base.html' %} 

{% block content %}
  <h1 class="index-title text-center m-4" style="font-family: Lumanosimo, cursive;" >Recipes</h1>
  <div class="row">
    {% for recipe in pastryrecipes %}
      <div class="col-md-4 col-sm-6">
        <a href="{% url 'detail' recipe.id %}" class="text-decoration-none">
          <div class="card mb-4">
            <img class="card-img-top" src="{% if recipe.photo_set.exists %}{{ recipe.photo_set.first.url }}{% else %}https://i.imgur.com/cHwo2Gz.jpg{% endif %}" alt="{{ recipe.title }}" style="height: 200px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">{{ recipe.title }}</h5>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
