{% extends 'base.html' %}

{% block content %}
<!-- Hero Section -->
<div class="container">
    <div class="row py-4">
        <div class="col-sm py-4">
            <img src="https://png.pngtree.com/background/20230517/original/pngtree-large-display-of-pastries-on-display-and-shelves-picture-image_2641425.jpg"
                alt="Main Image" class="img-fluid rounded mt-4" style="width: 100%;">
        </div>
        <div class="col-md text-center">
            <h1 class="display-6 mt-4 " style="font-family: Lumanosimo, cursive;">Welcome to Pastry Palate</h1>
            <p class="lead ">  your ultimate destination for all things pastry-related! Discover a world of sweet delights with our expertly curated pastry recipes and baking tips. Whether you're a novice or a seasoned baker, our site is your go-to resource for all things pastry. From flaky croissants to luscious éclairs, join us on a delectable journey to satisfy your sweet tooth and hone your baking skills.</p>
        </div>
    </div>
</div>
<hr>
<!-- Recipe Cards Section -->
<h4 class="display-6" style="font-family: Lumanosimo, cursive;">Featured Recipes</h4>
<div class="container my-4">
    <div class="row">
        {% for recipe in pastryrecipes %}
        <div class="col-md-4 col-sm-6">
            <a href="{% url 'detail' recipe.id %}" class="text-decoration-none">
                <div class="card mb-4">
                    <div class="recipe-card" style="position: relative;">
                        <img class="card-img-top"
                            src="{% if recipe.photo_set.exists %}{{ recipe.photo_set.first.url }}{% else %}https://i.imgur.com/cHwo2Gz.jpg{% endif %}"
                            alt="{{ recipe.title }}" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title text-center" style="font-family: Lumanosimo, cursive;">{{ recipe.title }}</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .recipe-card {
        overflow: hidden;
        transition: box-shadow 0.3s ease-in-out;
    }

    .recipe-card:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .card-body {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
    }
</style>
{% endblock %}
