{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

  <center>

    {% if searched %}

    <h1>You searched for "{{ searched }}"</h1>

    <h2>Results:</h2>

    <div class="row">

      {% for recipe in recipes %}
    
      <div class="col-md-4 mb-4">

        <div class="card">
        
            <img class="card-img-top" src="{% if recipe.photo_set.exists %}{{ recipe.photo_set.first.url }}{% else %}https://i.imgur.com/cHwo2Gz.jpg{% endif %}" alt="{{ recipe.title }}" style="height: 200px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">{{ recipe.title }}</h5>
            
            <p class="card-text">Total time: {{ recipe.totaltime }} min</p>
            <p class="card-text">Servings: {{ recipe.yields }}</p>
            
            <a href="{% url 'detail' recipe.id %}" class="btn btn-dark">View Recipe</a>
            
          </div>
          
        </div>
        
      </div>
      
      {% endfor %}
    
    </div>

    {% else %}

    <h1>No recipes found.</h1>
    
    {% endif %}

  </center>

</div>

{% endblock %}